/***************
START GENERAL CSS
***************/
/*GENERAL SETTINGS*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto;
  letter-spacing: 0;
  box-sizing: border-box;
  vertical-align: middle;
}
br {
  line-height: 0;
}

.position-front {
  z-index: 99;
}
.position-back {
  z-index: 1;
}
.pos-rel {
  position: relative !important;
}
.hide {
  display: none !important;
}

/*SITE SETTINGS*/
body {
  margin: auto;
}
.outter-container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
}
.site-content {
  flex: 1;
}
.inner-container {
  max-width: 1160px;
  margin: auto;
  position: relative;
}
.section-dark-gradient {
  position: relative;
  background: linear-gradient(225deg, #d4d4d4 0%, #afaeae 100%);
}
.section-light-gradient {
  background: linear-gradient(225deg, #29678b 0%, #0e1c34 100%);
}

/* MARGIN STYLES*/
.mg-auto {
  margin: auto;
}
/*Bottom*/
.mg-b-s {
  margin-bottom: 10px;
}
.mg-b-m {
  margin-bottom: 25px;
}
.mg-b-l {
  margin-bottom: 45px;
}
.mg-b-x {
  margin-bottom: 60px;
}
.mg-b-xx {
  margin-bottom: 120px;
}
/*Top*/
.mg-t-s {
  margin-top: 10px;
}
.mg-t-m {
  margin-top: 25px;
}
.mg-t-l {
  margin-top: 45px;
}
.mg-t-x {
  margin-top: 60px;
}
.mg-t-xx {
  margin-top: 120px;
}
/*Left*/
.mg-l-s {
  margin-left: 10px;
}
.mg-l-m {
  margin-left: 25px;
}
.mg-l-l {
  margin-left: 45px;
}
.mg-l-x {
  margin-left: 60px;
}
.mg-l-xx {
  margin-left: 120px;
}
/*Right*/
.mg-r-s {
  margin-right: 10px;
}
.mg-r-m {
  margin-right: 25px;
}
.mg-r-l {
  margin-right: 45px;
}
.mg-r-x {
  margin-right: 60px;
}
.mg-r-xx {
  margin-right: 120px;
}
/* All */
.mg-all-s {
  margin: 10px;
}
.mg-all-m {
  margin: 25px;
}
.mg-all-l {
  margin: 45px;
}
.mg-all-x {
  margin: 60px;
}
.mg-all-xx {
  margin: 120px;
}
/* Negative */
.mg-top-neg-s {
  margin-top: -10px;
}
.mg-top-neg-m {
  margin-top: -25px;
}
.mg-top-neg-x {
  margin-top: -60px;
}
.mg-top-neg-xx {
  margin-top: -100px;
}
.mg-r-neg-l {
  margin-right: -35px;
}

/* PADDING STYLES*/
/*Bottom*/
.pd-b-s {
  padding-bottom: 10px;
}
.pd-b-m {
  padding-bottom: 25px;
}
.pd-b-l {
  padding-bottom: 45px;
}
.pd-b-x {
  padding-bottom: 60px;
}
.pd-b-xx {
  padding-bottom: 120px;
}
/*Top*/
.pd-t-s {
  padding-top: 10px;
}
.pd-t-m {
  padding-top: 25px;
}
.pd-t-l {
  padding-top: 45px;
}
.pd-t-x {
  padding-top: 60px;
}
.pd-t-xx {
  padding-top: 120px;
}
/*Left*/
.pd-l-s {
  padding-left: 10px;
}
.pd-l-m {
  padding-left: 25px;
}
.pd-l-l {
  padding-left: 45px;
}
.pd-l-x {
  padding-left: 60px;
}
.pd-l-xx {
  padding-left: 120px;
}
/*Right*/
.pd-r-s {
  padding-right: 10px;
}
.pd-r-m {
  padding-right: 25px;
}
.pd-r-l {
  padding-right: 45px;
}
.pd-r-x {
  padding-right: 60px;
}
.pd-r-xx {
  padding-right: 120px;
}
/* All */
.pd-all-s {
  padding: 10px;
}
.pd-all-m {
  padding: 25px;
}
.pd-all-l {
  padding: 45px;
}
.pd-all-x {
  padding: 60px;
}
.pd-all-xx {
  padding: 120px;
}

/* BACKGROUND STYLES*/
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #f9fbfc;
}
.bg-gray-opacity {
  background: rgba(0, 0, 0, 0.1);
}
.bg-border-radius {
  border-radius: 20px;
}

/* TEXT STYLES*/
/*Text Colors*/
.txt-light-gray {
  color: #b1afb9;
}
.txt-white {
  color: #ffffff;
}
.txt-dark-gray {
  color: #6d7278;
}
.txt-blue {
  background-color: linear-gradient(25.81deg, #1f95fd 0%, #4fe8e4 100%);
}
.txt-grad-orange {
  background: linear-gradient(to top right, #ff2a00 0%, #ffb600 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.txt-grad-orange:after {
  background: none;
  content: attr(data-text);
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: 5px 5px 30px rgba(247, 181, 0, 0.25),
    18px 18px 60px rgba(250, 100, 0, 0.2);
}

/*Text Sizes*/
.txt-xs {
  font-size: 16px;
}
.txt-s {
  font-size: 18px;
}
.txt-s-light {
  font-size: 18px;
}
.txt-m {
  font-size: 20px;
}
.txt-l {
  font-size: 22px;
}
.txt-xl {
  font-size: 36px;
}
.txt-xxl {
  font-size: 64px;
}
.txt-xxxl {
  font-size: 80px;
}
.txt-xxxxl {
  font-size: 200px;
}

/*Text Line Heights*/
.txt-s-light {
  line-height: 24px;
}
.txt-xs,
.txt-s {
  line-height: 24px;
}
.txt-m,
.txt-l {
  line-height: 34px;
}
.txt-xl {
  line-height: 52px;
}
.txt-xxl,
.txt-xxxl {
  line-height: 70px;
}
.txt-xxxxl {
  line-height: 250px;
}

.txt-lh-xxl {
  line-height: 90px;
}

/*Text Spacing*/
.txt-ls-m {
  letter-spacing: 3px;
}

/*Text Weights*/
.txt-s,
.txt-l,
.txt-xl,
.txt-xxl,
.txt-xxxl,
.txt-xxxxl {
  font-weight: 800;
}
.txt-s-light,
.txt-xs,
.txt-m {
  font-weight: 400;
}

/* Text Alignment */
.txt-align-c {
  text-align: center;
}

.txt-align-end {
  text-align: end;
}

/* Text Decoration */
.txt-td-lt {
  text-decoration: line-through;
}

/* ICON STYLES*/
/* Icons*/

/* DISPLAY STYLES*/
/* Flex Column*/
.flex-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}
.wrap {
  flex-wrap: wrap;
}
.ai-start {
  align-items: flex-start;
}
.ai-center {
  align-items: center;
}
.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.js-center {
  justify-self: center;
}

/* Widths */
.max-wd-s {
  max-width: 360px;
}
.max-wd-m {
  max-width: 440px;
}
.max-wd-l {
  max-width: 550px;
}
.max-wd-xl {
  max-width: 760px;
}
.max-wd-xxl {
  max-width: 960px;
}
.wd-full {
  width: 100%;
}
.wd-xs {
  width: 70px;
}
.wd-s {
  width: 360px;
}

/* IMAGE STRYLES */
.img-no-b {
  filter: brightness(0) invert(1);
}

/* GRID STYLES */
.grid {
  display: grid;
  justify-items: center;
}
.grid-1-row {
  grid-template-rows: auto;
}
.grid-2-row {
  grid-template-rows: auto auto;
}
.grid-3-row {
  grid-template-rows: auto auto auto;
}
.grid-5-row {
  grid-template-rows: auto auto auto auto auto;
}
.grid-1-col {
  grid-template-columns: auto;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-central-element {
  border-right: 1px dashed #3e515a;
  border-left: 1px dashed #3e515a;
}
.grid-gap-0 {
  gap: 0px 0px;
}
.grid-gap-horiz-s {
  gap: 20px 40px;
}
.grid-gap-horiz-x {
  gap: 50px 40px;
}

/* CARD STYLES*/
/* Cards*/
/* .card:hover{
border-radius: 6px;
background-color: #F9FBFC;
box-shadow: 3px 3px 20px 0 #FFFFFF, 3px 3px 20px 0 #888888;
transition: box-shadow 0.3s linear;		
} */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  width: 100%;
}

/* BUTTON STYLES*/
/* Buttons */
.btn-orange {
  display: inline-flex;
  align-items: center;
  align-self: center;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background-color: #ff5e00;
  line-height: 22px;
  text-align: center;
  padding: 15px 20px;
  min-height: 25px;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  transition: bottom 0.1s linear;
  letter-spacing: 2px;
}

/***************
END GENERAL CSS
***************/

/***************
START Media Queries - RESPONSIVE FOR SMALLER SCREENS
***************/

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1520px) {
}

/* BS - Big Screen */
@media screen and (max-width: 1160px) {
  .inner-container {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }

  .BS_grid-3-row {
    grid-template-rows: auto auto auto;
  }
  .BS_grid-4-row {
    grid-template-rows: auto auto auto auto;
  }
  .BS_grid-1-col {
    grid-template-columns: auto;
  }
  .BS_grid-2-col {
    grid-template-columns: auto auto;
  }
  .BS_grid-6-row {
    grid-template-rows: auto auto auto auto auto auto;
  }
}

/* Tablet */
@media screen and (max-width: 1024px) {
}

/* MS - Medium Screen */
@media screen and (max-width: 900px) {
  /*Text Sizes*/
  .txt-xl {
    font-size: 32px;
  }
  .txt-xxl {
    font-size: 46px;
  }
  .txt-xxxl {
    font-size: 64px;
  }

  iframe {
    width: 430px;
  }

  /*Text Line Heights*/
  .txt-xl {
    line-height: 46px;
  }
  .txt-xxl,
  .txt-xxxl {
    line-height: 64px;
  }

  /* Widths */
  .max-wd-xl {
    max-width: 560px;
  }
  /* MARGIN STYLES */
  /*Bottom*/
  .mg-b-x {
    margin-bottom: 48px;
  }
  .mg-b-xx {
    margin-bottom: 60px;
  }
  /*Top*/
  .mg-t-x {
    margin-top: 48px;
  }
  .mg-t-xx {
    margin-top: 60px;
  }
  /*Left*/
  .mg-l-x {
    margin-left: 48px;
  }
  .mg-l-xx {
    margin-left: 60px;
  }
  /*Right*/
  .mg-r-x {
    margin-right: 48px;
  }
  .mg-r-xx {
    margin-top: 60px;
  }
  /* All */
  .mg-all-x {
    margin: 48px;
  }
  .mg-all-xx {
    margin: 60px;
  }
  /* Negative */
  .MS_mg-top-neg-s {
    margin-top: -10px;
  }

  /* PADDING STYLES*/
  /*Bottom*/
  .pd-b-x {
    padding-bottom: 48px;
  }
  .pd-b-xx {
    padding-bottom: 60px;
  }
  /*Top*/
  .pd-t-x {
    padding-top: 48px;
  }
  .pd-t-xx {
    padding-top: 60px;
  }
  /*Left*/
  .pd-l-x {
    padding-left: 48px;
  }
  .pd-l-xx {
    padding-left: 60px;
  }
  /*Right*/
  .pd-r-x {
    padding-right: 48px;
  }
  .pd-r-xx {
    padding-right: 60px;
  }
  /* All */
  .pd-all-l {
    padding: 30px;
  }
  .pd-all-x {
    padding: 48px;
  }
  .pd-all-xx {
    padding: 60px;
  }

  .MS_grid-1-col {
    grid-template-columns: auto;
  }
  .MS_grid-4-row {
    grid-template-rows: auto auto auto auto;
  }
  .MS_grid-6-row {
    grid-template-rows: auto auto auto auto auto auto;
  }
  .MS_grid-9-row {
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }
}

/* SS - Small Screen */
@media handheld and (max-width: 520px),
  screen and (max-device-width: 520px),
  screen and (max-width: 520px) {
  .inner-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .SS_flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .SS_grid-1-col {
    grid-template-columns: auto;
  }
  .SS_grid-3-row {
    grid-template-rows: auto auto auto;
  }
  .SS_grid-6-row {
    grid-template-rows: auto auto auto auto auto auto;
  }

  .SS_mg-l-0 {
    margin-left: 0;
  }
  .SS_mg-r-0 {
    margin-right: 0;
  }

  .SS_wrap-rev {
    flex-wrap: wrap-reverse !important;
    flex-direction: column-reverse !important;
  }
}

/***************
END Media Queries
***************/
